@import "../../../style/main.scss";

.list {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	@include xl {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	&__card {
		background-color: #dfe6e9;
		width: 12rem;
		height: 18rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
		border-radius: 12px;
		-webkit-box-shadow: 20px 20px 20px -8px rgba(0, 0, 0, 1);
		-moz-box-shadow: 20px 20px 20px -8px rgba(0, 0, 0, 1);
		box-shadow: 20px 20px 20px -8px rgba(0, 0, 0, 1);
		@include xl {
			margin-right: 1rem;
			margin-left: 1rem;
		}
		&:hover {
			background-color: #fdcb6e;
			-webkit-box-shadow: 25px 25px 20px -8px rgba(0, 0, 0, 1);
			-moz-box-shadow: 25px 25px 20px -8px rgba(0, 0, 0, 1);
			box-shadow: 25px 25px 20px -8px rgba(0, 0, 0, 1);
		}
		&-avatar {
			margin-top: 1rem;
			border-radius: 50%;
			height: 10rem;
			width: 10rem;
		}
	}
	&__text {
		margin-top: 1rem;
	}

	& .pagination__btns {
		width: 100%;
		height: 2rem;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		align-items: center;
		padding: 1rem;
		margin-bottom: 3rem;
		@include xl {
			margin-top: 1rem;
			width: 20%;
			justify-content: space-around;
		}
		& .pagination__btn {
			border: 1px solid #d63031;
			border-radius: 50%;
			padding: 0.4rem;
			& a {
				color: #d63031;
			}
			&-disabled {
				display: none;
			}
		}
	}
}
