@import "../../../style/main.scss";

.back__btn {
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: 3rem;
	height: 1.5rem;
	border-radius: 8px;
	&:hover {
		-webkit-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
		-moz-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
		box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
	}
	& .back__img {
		width: 1rem;
		height: 1rem;
	}
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include xl {
		flex-direction: row;
	}
	&__img {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		margin-bottom: 1rem;
		@include xl {
			margin-right: 1rem;
		}
	}
	&__container {
		display: table;
	}
	&__text {
		display: row;
		margin-top: 0.5rem;
		&-name,
		&-surname,
		&-email {
			height: 1.5rem;
			display: table-cell;
			border-radius: 10px;
			margin-top: 0.5rem;
			padding-left: 0.5rem;
		}
	}
	&__label {
		display: table-cell;
	}
	&__container-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
	}
	&__btn {
		height: 2rem;
		width: 5rem;
		border-radius: 12px;
		&:hover {
			-webkit-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
			-moz-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
			box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
		}
		&-update {
			&:hover {
				background-color: #55efc4;
			}
		}
		&-delete {
			&:hover {
				background-color: #d63031;
			}
		}
	}
}
