.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	&__word {
		font-family: consolas;
		display: inline-block;
		color: #fff;
		font-size: 2em;
		text-transform: uppercase;
		animation: animate 1s ease-in-out infinite;
		&-1 {
			animation-delay: calc(0.1s * 1);
		}
		&-2 {
			animation-delay: calc(0.1s * 2);
		}

		&-3 {
			animation-delay: calc(0.1s * 3);
		}

		&-4 {
			animation-delay: calc(0.1s * 4);
		}

		&-5 {
			animation-delay: calc(0.1s * 5);
		}

		&-6 {
			animation-delay: calc(0.1s * 6);
		}

		&-7 {
			animation-delay: calc(0.1s * 7);
		}

		&-8 {
			animation-delay: calc(0.1s * 8);
		}

		&-9 {
			animation-delay: calc(0.1s * 9);
		}

		&-10 {
			animation-delay: calc(0.1s * 10);
		}
	}
}

@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40%,
	100% {
		transform: translateY(0px);
	}
}
