@import "./style/main.scss";

.background {
	background: linear-gradient(
		to right top,
		$background-start-color,
		$background-end-color
	);
	display: flex;
	justify-content: center;
	align-items: center;
	@include xl {
		height: 100vh;
	}

	&__glass_card {
		min-height: 80vh;
		background-color: white;
		width: 88rem;
		border-radius: 2rem;
		background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.1)
		);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 2;
		backdrop-filter: blur(1rem);
		& .logout__btn {
			position: fixed;
			top: 1rem;
			right: 1rem;
			width: 3rem;
			height: 1.5rem;
			border-radius: 8px;
			&:hover {
				-webkit-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
				-moz-box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
				box-shadow: 7px 7px 20px -8px rgba(0, 0, 0, 1);
			}
			& .logout__img {
				width: 1rem;
				height: 1rem;
			}
		}
	}

	&__circle-1,
	&__circle-2 {
		background-color: white;
		background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.1)
		);
		height: 20rem;
		width: 20rem;
		position: absolute;
		border-radius: 50%;
	}
	&__circle-1 {
		top: 5%;
		left: 6%;
	}
	&__circle-2 {
		top: 64%;
		right: 2%;
	}
}
