@import "../../../style/main.scss";

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include xl {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__img-main {
		height: 10rem;
		width: 10rem;
		margin-bottom: 3rem;
		@include xl {
			height: 15.25rem;
			width: 15.25rem;
			margin-right: 12.5rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 2.63rem;
		margin-bottom: 1.2rem;
	}

	&__input {
		&-email {
			margin-bottom: 1.2rem;
			background-image: url("../../../assets/images/user_black.png");
			background-position: left;
			background-size: 1.5rem;
			background-repeat: no-repeat;
			border-left: none;
			z-index: 10;
			@include xl {
				background-size: 2rem;
			}
		}
		&-password {
			margin-bottom: 0.3rem;
			background-image: url("../../../assets/images/pass_black.png");
			background-position: left;
			background-size: 1.5rem;
			background-repeat: no-repeat;
			border-left: none;
			@include xl {
				background-size: 2rem;
			}
		}
		&-email,
		&-password {
			text-align: center;
			outline-width: 0;
			border-radius: 20px;
			width: 15rem;
			height: 1.5rem;
			font-size: 16px;
			@include xl {
				width: 24rem;
				height: 2rem;
				font-size: 2rem;
			}

			&::placeholder {
				text-align: center;
			}
		}
	}

	&__button-submit {
		background-color: #169bd5;
		color: white;
		border-radius: 40px;
		width: 10rem;
		height: 2.5rem;
		font-size: 16px;
		margin-top: 1rem;
		@include xl {
			font-size: 2rem;
		}
	}
}
